body {
    position: relative;
}

// 官网头部开始
header {
    position: relative;
    width: 100%;
    height: 48px;
    background-image: url(../images/agreement/top-bg.jpg);

    a:first-child {
        position: absolute;
        top: 4px;
        left: 20px;
        width: 100px;
        height: 38px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    a:last-child {
        position: absolute;
        top: 0;
        right: 0;
        width: 160px;
        height: 50px;
        z-index: 2;

        img {
            width: 100%;
            height: 65px;
        }
    }
}

// 官网头部结束

// 通告栏开始
.backbox {
    position: relative;
    width: 100%;
    height: 50px;
    background-image: url(../images/agreement/backBg.jpg);
    background-size: 100%;

    a {
        display: block;
        float: left;
        width: 15px;
        height: 25px;
        margin-top: 10px;
        margin-left: 15px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .navswrap {
        float: left;
        height: 100%;
        font-size: 12px;
        line-height: 50px;
        margin-left: 24px;

        span {
            padding: 0 1px;
        }
    }

    select {
        position: absolute;
        top: 50%;
        right: 104px;
        width: 125px;
        height: 29px;
        color: #3d6f55;
        background-color: #a2df6c;
        padding-left: 4px;
        margin-top: calc(-29px / 2);
        z-index: 1;

        option {
            color: #3d6f55;
        }
    }

    .last1 {
        float: right;
        width: 30px;
        height: 30px;
        margin-top: calc((50px / 2) - 15px);
        margin-right: 28px;
    }

    .last2 {
        float: right;
        width: 30px;
        height: 30px;
        margin-top: calc((50px / 2) - 15px);
        margin-right: 8px;
    }
}

// 通告栏结束

// 主体内容开始
main {
    width: 100%;
    height: 518px;
    padding: 0 15px;
    box-sizing: border-box;

    .tujian {
        width: 100%;
        margin-top: 18px;
        overflow: hidden;

        img {
            float: left;
            width: 145px;
            height: 123px;
        }

        .cake {
            float: left;
            margin-left: 18px;

            h4 {
                font-size: 20px;
                font-weight: 700;
                border-bottom: 1px solid #eeeeee;
                padding-bottom: 6px;
                margin-bottom: 3px;
            }

            span {
                font-size: 12px;
            }
        }
    }

    .formula {
        margin: 35px 23px;
        margin-bottom: 30px;

        h4 {
            border-bottom: 1px solid #e7e7e7;
            padding-bottom: 6px;
            margin-bottom: 10px;
        }

        .zong-h {
            overflow: hidden;

            .left {
                float: left;
                width: 98px;
                height: 98px;
                margin-left: 59px;

                span {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    background-color: #a96d44;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    &:nth-child(3),
                    &:nth-child(6),
                    &:nth-child(9) {
                        margin-bottom: 4px;
                    }
                }
            }

            .center {
                float: left;
                width: 6px;
                height: 10px;
                line-height: 98px;
                margin-left: 16px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .right {
                float: right;
                width: 80px;
                height: 80px;
                background-color: #a96d44;
                margin-top: 8px;
                margin-right: 25px;

                img {
                    width: 100%;
                    height: 68px;
                }
            }
        }
    }

    .type {
        width: 100%;
        height: 145px;

        a {
            float: left;
            width: 45px;
            height: 45px;
            text-align: center;
            line-height: 45px;
            background-color: #d7a268;
            margin-right: 5px;
            margin-bottom: 5px;

            img {
                width: 39px;
                height: 39px;
            }

            &:nth-child(7),
            &:nth-child(14) {
                margin-right: 0;
            }

            &:first-child {
                line-height: 39px;
                border: 3px solid #33b916;
            }
        }
    }
}

// 主体内容结束

// 首页底部开始
footer {
    width: 100%;
    background-image: url(../images/home/footer.jpg);
    background-size: 100%;
    padding-top: 67px;

    a:nth-child(1) {
        display: block;
        width: 179px;
        height: 33px;
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .shareBox {
        width: 100%;
        text-align: center;

        a:nth-child(1),
        a:nth-child(2),
        a:nth-child(3) {
            display: inline-block;
            width: 75px;
            height: 90px;
            margin: 46px 8px;
            margin-bottom: 40px;

            img {
                width: 44px;
                height: 44px;
            }

            span {
                display: block;
                color: #ededed;
                font-size: 10px;
                line-height: 20px;
                margin-top: 10px;
            }
        }
    }

    .emailBox {
        width: 100%;
        color: #808080;
        font-size: 12px;

        p {
            display: inline-block;
            margin-left: 13px;
            margin-bottom: 24px;
        }

        a {
            float: right;
            color: #808080;
            text-decoration: underline;
            margin-right: 14px;
        }
    }

    .qqbox {
        width: 100%;
        text-align: center;
        color: #cacaca;
        padding-bottom: 26px;

        p {
            background-image: url(../images/home/home13.png);
            background-size: 100% 6px;
            background-position: 0 6px;
            background-repeat: no-repeat;
            margin: 0 10px;
            margin-bottom: 10px;
        }

        span {
            display: inline-block;
            width: 108px;
            height: 23px;
            color: #bbf5b5;
            font-size: 12px;
            line-height: 23px;
            background: rgba(48, 114, 40, .7);
            border: 1px solid rgba(58, 167, 45, .7);
            margin: 5px 3px;
        }

        .more {
            width: 100%;
            padding: 0 10px;
            box-sizing: border-box;

            .well {
                min-height: 20px;
                padding: 0;
                margin-bottom: 0;
                background-color: transparent;
                border: none;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            }

            i {
                position: relative;
                width: 100%;

                &::before {
                    content: '';
                    position: absolute;
                    left: 12px;
                    top: 50%;
                    width: 128px;
                    height: 1px;
                    background-color: #3c3c3c;
                }

                img {
                    width: 12px;
                    height: 8px;
                }

                h5 {
                    display: inline-block;
                    font-size: 12px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    right: 12px;
                    top: 50%;
                    width: 128px;
                    height: 1px;
                    background-color: #3c3c3c;
                }
            }

            .btn {
                display: inline-block;
                padding: 0;
                font-size: 14px;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 4px;
            }

            .btn-primary {
                color: #cacaca;
                background-color: transparent;
            }
        }
    }

    .phonebox {
        width: 100%;
        background-color: rgba(73, 73, 73, .7);
        overflow: hidden;

        a {
            float: left;
            display: block;
            width: 43px;
            height: 44px;
            color: #a8a8a8;
            font-size: 12px;
            text-align: center;
            background-image: url(../images/home/home15.png);
            background-size: 100%;
            padding-top: 4px;
            margin: 0;
            margin-left: 20px;
            margin-top: 12px;

            &:nth-child(3) {
                line-height: 44px;
                padding: 0;
            }

            &:nth-child(4) {
                line-height: 44px;
                padding: 0;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        span {
            float: left;
            color: #a8a8a8;
            font-size: 10px;
            padding: 20px 12px;
        }
    }
}

// 首页底部结束

// 题外话开始
.bottom-last {
    width: 100%;
    color: #6e6e6e;
    padding: 20px 16px;
    background-color: #050607;

    p {
        font-size: 13px;
        margin-bottom: 2px;
    }
}

// 题外话结束

// 返回顶部开始
.back-to-top {
    position: absolute;
    bottom: 12px;
    display: block;
    right: 12px;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #93979b;

    span {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-right: 4px solid #77787e;
        border-top: 4px solid #77787e;
        transform: rotateZ(-45deg);
        margin-top: 18px;
    }
}

// 返回顶部结束