body {
  position: relative;
}

header {
  position: relative;
  width: 100%;
  height: 48px;
  background-image: url(../images/agreement/top-bg.jpg);
}

header a:first-child {
  position: absolute;
  top: 4px;
  left: 20px;
  width: 100px;
  height: 38px;
}

header a:first-child img {
  width: 100%;
  height: 100%;
}

header a:last-child {
  position: absolute;
  top: 0;
  right: 0;
  width: 160px;
  height: 50px;
}

header a:last-child img {
  width: 100%;
  height: 65px;
  z-index: 1;
}

.backbox {
  width: 100%;
  height: 50px;
  background-image: url(../images/agreement/backBg.jpg);
  background-size: 100%;
}

.backbox a {
  display: block;
  float: left;
  width: 15px;
  height: 25px;
  margin-top: 10px;
  margin-left: 15px;
}

.backbox a img {
  width: 100%;
  height: 100%;
}

.backbox .navswrap {
  float: left;
  height: 100%;
  font-size: 12px;
  line-height: 50px;
  margin-left: 24px;
}

.backbox .navswrap span {
  padding: 0 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.backbox .navswrap span:nth-child(2n) {
  font-weight: 700;
}

.backbox .last1 {
  float: right;
  width: 30px;
  height: 30px;
  margin-top: calc((50px / 2) - 15px);
  margin-right: 28px;
}

.backbox .last2 {
  float: right;
  width: 30px;
  height: 30px;
  margin-top: calc((50px / 2) - 15px);
  margin-right: 8px;
}

main {
  width: 100%;
  padding: 0 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .subject {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  margin-top: 28px;
  margin-bottom: 18px;
}

main .subject h1 {
  color: #249f0b;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

main .subject p {
  color: #999;
  font-size: 12px;
  margin-top: 6px;
}

main .nr {
  line-height: 27px;
  margin-top: 18px;
  margin-bottom: 14px;
}

main img {
  width: 348px;
  height: 202px;
}

main .center {
  text-align: center;
}

main .pic1 {
  margin-bottom: 20px;
}

footer {
  width: 100%;
  background-image: url(../images/home/footer.jpg);
  background-size: 100%;
  padding-top: 67px;
}

footer a:nth-child(1) {
  display: block;
  width: 179px;
  height: 33px;
  margin: 0 auto;
}

footer a:nth-child(1) img {
  width: 100%;
  height: 100%;
}

footer .shareBox {
  width: 100%;
  text-align: center;
}

footer .shareBox a:nth-child(1),
footer .shareBox a:nth-child(2),
footer .shareBox a:nth-child(3) {
  display: inline-block;
  width: 75px;
  height: 90px;
  margin: 46px 8px;
  margin-bottom: 40px;
}

footer .shareBox a:nth-child(1) img,
footer .shareBox a:nth-child(2) img,
footer .shareBox a:nth-child(3) img {
  width: 44px;
  height: 44px;
}

footer .shareBox a:nth-child(1) span,
footer .shareBox a:nth-child(2) span,
footer .shareBox a:nth-child(3) span {
  display: block;
  color: #ededed;
  font-size: 10px;
  line-height: 20px;
  margin-top: 10px;
}

footer .emailBox {
  width: 100%;
  color: #808080;
  font-size: 12px;
}

footer .emailBox p {
  display: inline-block;
  margin-left: 13px;
  margin-bottom: 24px;
}

footer .emailBox a {
  float: right;
  color: #808080;
  text-decoration: underline;
  margin-right: 14px;
}

footer .qqbox {
  width: 100%;
  text-align: center;
  color: #cacaca;
  padding-bottom: 26px;
}

footer .qqbox p {
  background-image: url(../images/home/home13.png);
  background-size: 100% 6px;
  background-position: 0 6px;
  background-repeat: no-repeat;
  margin: 0 10px;
  margin-bottom: 10px;
}

footer .qqbox span {
  display: inline-block;
  width: 108px;
  height: 23px;
  color: #bbf5b5;
  font-size: 12px;
  line-height: 23px;
  background: rgba(48, 114, 40, 0.7);
  border: 1px solid rgba(58, 167, 45, 0.7);
  margin: 5px 3px;
}

footer .qqbox .more {
  width: 100%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer .qqbox .more .well {
  min-height: 20px;
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

footer .qqbox .more i {
  position: relative;
  width: 100%;
}

footer .qqbox .more i::before {
  content: '';
  position: absolute;
  left: 12px;
  top: 50%;
  width: 128px;
  height: 1px;
  background-color: #3c3c3c;
}

footer .qqbox .more i img {
  width: 12px;
  height: 8px;
}

footer .qqbox .more i h5 {
  display: inline-block;
  font-size: 12px;
}

footer .qqbox .more i::after {
  content: '';
  position: absolute;
  right: 12px;
  top: 50%;
  width: 128px;
  height: 1px;
  background-color: #3c3c3c;
}

footer .qqbox .more .btn {
  display: inline-block;
  padding: 0;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

footer .qqbox .more .btn-primary {
  color: #cacaca;
  background-color: transparent;
}

footer .phonebox {
  width: 100%;
  background-color: rgba(73, 73, 73, 0.7);
  overflow: hidden;
}

footer .phonebox a {
  float: left;
  display: block;
  width: 43px;
  height: 44px;
  color: #a8a8a8;
  font-size: 12px;
  text-align: center;
  background-image: url(../images/home/home15.png);
  background-size: 100%;
  padding-top: 4px;
  margin: 0;
  margin-left: 20px;
  margin-top: 12px;
}

footer .phonebox a:nth-child(3) {
  line-height: 44px;
  padding: 0;
}

footer .phonebox a:nth-child(4) {
  line-height: 44px;
  padding: 0;
}

footer .phonebox a:nth-child(4) img {
  width: 20px;
  height: 20px;
}

footer .phonebox span {
  float: left;
  color: #a8a8a8;
  font-size: 10px;
  padding: 20px 12px;
}

.bottom-last {
  width: 100%;
  color: #6e6e6e;
  padding: 20px 16px;
  background-color: #050607;
}

.bottom-last p {
  font-size: 13px;
  margin-bottom: 2px;
}

.back-to-top {
  position: absolute;
  bottom: 12px;
  display: block;
  right: 12px;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #93979b;
}

.back-to-top span {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-right: 4px solid #a7acb0;
  border-top: 4px solid #a7acb0;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  margin-top: 18px;
}
/*# sourceMappingURL=xb4.css.map */