body {
  position: relative;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
  border-left: 1px solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 3px;
  height: 13px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 5px;
  min-height: 28px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
  border-radius: 5px;
}

main {
  position: relative;
  width: 100%;
  height: 668px;
  background-image: url(../images/plan/bg.jpg);
  background-size: 100%;
}

main header {
  width: 100%;
  height: 52px;
  background-image: url(../images/create/top_bar_bg.png);
  background-size: 100%;
}

main header a {
  display: block;
  float: left;
  width: 100px;
  height: 40px;
  margin-top: 10px;
  margin-left: 13px;
}

main header a img {
  width: 100%;
  height: 100%;
}

main header .right {
  float: right;
  width: 76px;
  height: 27px;
  margin-right: 11px;
  margin-top: calc((52px - 27px) / 2);
}

main header .right:nth-child(3) {
  margin-right: 13px;
}

main .title {
  width: 100%;
  height: 45px;
  text-align: center;
  margin-top: 44px;
  margin-bottom: 34px;
}

main .title img {
  width: 310px;
  height: 100%;
}

main .box {
  position: relative;
  height: 360px;
  width: 327px;
  color: #fff;
  font-size: 12px;
  padding: 0 9px;
  margin: 0 auto;
  overflow-y: scroll;
}

main .box h4 {
  color: #ffedd3;
  font-size: 14px;
  font-weight: 700;
  margin: 12px 0;
}

main .box img {
  margin-bottom: 6px;
}

main .box .first {
  width: 100%;
  height: 86px;
}

main .box .second {
  width: 100%;
  height: 75px;
  margin-bottom: 12px;
}

main .box .third {
  width: 100%;
  height: 152px;
}

main ul {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  margin-bottom: 0;
}

main ul li {
  position: relative;
  float: left;
  width: 20%;
  height: 36px;
  color: #848484;
  font-size: 12px;
  text-align: center;
  line-height: 36px;
  background-color: #fff;
}

main ul li:first-child {
  color: #fff;
  background-color: #61c043;
}

main ul li:nth-child(3) {
  border-left: 2px solid #e1e1e1;
  border-right: 2px solid #e1e1e1;
}

main ul li:last-child {
  line-height: 0;
}

main ul li img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 42px;
}

footer {
  width: 100%;
  height: 86px;
  line-height: 86px;
  background-image: url(../images/create/footer.jpg);
  background-size: 100%;
}

footer a {
  float: left;
  margin: 0 12px;
}

footer a i {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border: 1px solid #fff;
}

footer a span {
  color: #fff;
}

footer a:nth-child(2) {
  line-height: 92px;
}

footer a:nth-child(2) i {
  font-size: 26px;
}

.bottom {
  width: 100%;
  color: #a7acb0;
  background-color: #000;
  padding: 20px 16px;
}

.bottom p {
  font-size: 13px;
  margin-bottom: 2px;
}

.bottom p:nth-child(2) {
  color: #fff;
  font-size: 14px;
}

.bottom p:nth-last-child(2) {
  font-size: 14px;
}

.bottom p:last-child {
  color: #fff;
  font-size: 14px;
}

.back-to-top {
  position: absolute;
  bottom: 12px;
  display: block;
  right: 12px;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #93979b;
}

.back-to-top span {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-right: 4px solid #a7acb0;
  border-top: 4px solid #a7acb0;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  margin-top: 18px;
}
/*# sourceMappingURL=plan.css.map */